<head>
    <script src="https://cdn.jsdelivr.net/npm/quizdown@latest/public/build/quizdown.js"></script>
    <script>quizdown.init();</script>
</head>

<div class="quizdown">
---
primaryColor: {{ primary_color | default("steelblue") }}
shuffleQuestions: {{ shuffle_questions | default(true) }}
shuffleAnswers: {{ shuffle_answers | default(true) }}
{% if n_questions is defined -%}
nQuestions: {{ n_questions | int }}
{% endif -%}
---

{{ quiz }}
</div>